@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tailwind v4 theme */
@theme {
  --font-heading: "Bebas Neue", sans-serif;
  --font-body: "Inter", sans-serif;
}

/* Default font for whole website */
body {
  font-family: var(--font-body);
}